<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        {{>header}}
        <img src="/image/imc.jpg">
        <p>Created by {{title}}</p>
        {{>footer}}
    </body>
</html>