<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/css/style.css">
    <script src ="/js/app.js"></script>
    <head>
        
    </head>
    <body>
        <div class="main-content">
             {{>header}}
        <p>Created by {{title}}</p>
        <form>
            <input placeholder="location">
            <button> Search</button>

        </form>

        </div>
        {{>footer}}
       
    </body>
</html>